/* 
1. Posicionamiento : static, absolute, relative, fixed
2. Modelo de caja : margin, border, padding, content
3. Tipografía: tipos, tamaños de fuente, etc
4. Visuales: box-shadow, border-radius, gradient, etc
5. Otros: reglas CSS y más
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body::before {
  position: fixed;
  content: '';
  height: 100%;
  width: 100%;
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

