/* 
1. Posicionamiento : static, absolute, relative, fixed
2. Modelo de caja : margin, border, padding, content
3. Tipografía: tipos, tamaños de fuente, etc
4. Visuales: box-shadow, border-radius, gradient, etc
5. Otros: reglas CSS y más
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  color: white;
}

body::before {
  position: fixed;
  content: '';
  height: 100%;
  width: 100%;
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.survey-header {
  margin: 0 auto;
  padding: 30px 0;
  width: 90%;
  text-align: center; 
}

.survey-header .header__main-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.survey-header .header__caption {
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
}

.survey-main {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(27, 27, 50, 0.8);
  font-size: 1.6rem;
}

.survey-main .form__group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.survey-main input, .survey-main select, .survey-main textarea {
  padding: 5px 10px;
  font-family: 'Poppins', sans-serif;
  color: #495057;
}

.form--improvement span {
  font-size: 1.2rem;
}

.survey-main button {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: green;
}


